.container-footer {
    background-color: #fff;
    width: 80%;
    padding: 70px 70px;
    display: flex;
    justify-content: space-between;
}

.iwash-logo img {
    width: 120px;
    margin: -30px 10px;
}

.licence-tile img {
    width: 30px;
    height: auto;
}

.copy-rights img {
    width: 14px;
    height: auto;
    margin-right: 3px;
    margin-top: -4px;
}



.service,
.about {
    padding: 15px;
}

.service,
.about,
.operasional h6 {
    margin-bottom: 10px;
}

.licence-tile li,
.service li,
.about li,
.copy-rights li,
.operasional li {
    list-style: none;
    margin-bottom: 5px;
}

.operasional p {
    color: #333;
    font-size: 14px;
    margin: 0;
}

.service a,
.about a {
    text-decoration: none;
    color: #2d7fc1;
    font-size: 14px;
}

.service a:hover,
.about a:hover {
    color: #000;
}