@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Nutmeg Bold', sans-serif;
    src: url('/public/font/Fontspring-DEMO-nutmeg-bold.otf') format('truetype');
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Home */
.container-home {
    padding: 0 80px;
    background-color: #2daae1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.tagline {
    flex: 1;
    text-align: left;
}

.image-container {
    flex: 1;
    text-align: right;
}

.image-container img {
    width: 100%;
    height: auto;
}

.slogan {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.slogan li {
    list-style: none;
    font-size: 30px;
    color: #222;
    font-weight: 500;
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.slogan img {
    width: 40px;
    height: auto;
}

.tagline h4 {
    font-size: 28px;
    color: #000;
    font-weight: 600;
    padding: 20px 0;
}

.tagline p {
    font-size: 17px;
    color: #333;
}

.btn-learn {
    font-weight: 500;
    color: #000;
    background-color: #ffcb05;
    border: 2px solid #ffcb05;
    border-radius: 8px;
    padding: 10px 20px;
}

.btn-learn:hover {
    background-color: #e5b909;
    border-color: #e5b909;
    color: #222;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .container-home {
        padding: 0 20px;
    }

    .top-content {
        flex-direction: column;
        align-items: center;
    }

    .image-container {
        display: none;
    }

    .slogan {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .slogan li {
        margin: 5px 0;
        font-size: 17px;
    }

    .slogan img {
        width: 20px;
    }
}

/* Layanan */
.container-layanan {
    width: 100%;
    text-align: center;
    background-color: #fff;
}

.container-layanan h2 {
    color: #000;
}

.container-layanan p {
    color: #333;
}

.container-layanan img {
    width: 40%;
    height: auto;
}

.text-service {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 80px;
}

.text-service li {
    flex: 0 0 33%;
    text-align: left;
    box-sizing: border-box;
    padding: 10px;
}


.text-service img {
    width: 50px;
    height: auto;
    padding-right: 10px;
}

/* Testimoni */
.container-testimoni {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #2277b9;
    height: auto;
}

.testimoni-title h3 {
    font-weight: 600;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}