@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Nutmeg Bold', sans-serif;
    src: url('/public/font/Fontspring-DEMO-nutmeg-bold.otf') format('truetype');
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Navbar */
.navbar {
    background-color: #2daae1;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    transition: top 0.3s;
    z-index: 100;
}

.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #ffff;
    font-size: 30px;
}

.navbar-nav .nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #ffff;
    transition: color 0.3s;
}

.navbar-brand:hover {
    color: #2d7fc1;
}

.navbar-nav .nav-link:hover {
    color: #e9ecef;
}

.navbar-nav .nav-link.active {
    font-weight: 600;
    color: #e9ecef;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%280, 123, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-login {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: #2daae1;
    border: 2px solid #ffff;
    transition: background-color 0.3s, border-color 0.3s;
    padding: 8px 30px;
    margin-right: 25px;
}

.nav-login:hover {
    background-color: #ffff;
    border-color: #ffff;
    color: #2daae1;
}

.nav-daftar {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #2daae1;
    background-color: #ffff;
    border: 2px solid #ffff;
    transition: background-color 0.3s, border-color 0.3s;
    padding: 8px 26px;
}

.nav-daftar:hover {
    background-color: #e9ecef;
    border-color: #e9ecef;
    color: #2daae1;
}

/* Sections */
section {
    padding: 60px 0;
}

section h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
    text-align: center;
}

section p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #222;
    margin-bottom: 20px;
    text-align: center;
}

/* Home */
.half-size {
    width: 100%;
    height: auto;
}

.container-home {
    display: flex;
    align-items: center;
    padding: 0 60px;
    margin-top: 60px;
}

#home {
    background-color: #2daae1;
}

.image-container {
    flex: 1;
    margin-right: 20px;
}

.tagline {
    flex: 1;
}

.tagline img {
    padding-left: 5px;
}

.tagline h4 {
    font-size: 28px;
    color: #000;
    font-weight: 600;
    text-align: left;
    padding: 20px 0;
}

.tagline p {
    font-size: 17px;
    text-align: left;
}

.btn-pesan {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #000;
    background-color: #ffcb05;
    border: 2px solid #ffcb05;
    transition: background-color 0.3s, border-color 0.3s;
    padding: 8px 26px;
}

.btn-pesan:hover {
    background-color: #edbe06;
    border-color: #edbe06;
    color: #000;
}

/* Layanan Kami */
#layanan {
    background-color: #fff;
}

#layanan .container-layanan {
    text-align: center;
}

.container-layanan h2 {
    color: #000;
}

.text-service {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 80px;
}

.text-service li {
    flex: 0 0 33%;
    text-align: left;
    box-sizing: border-box;
    padding: 10px;
}


.text-service img {
    width: 50px;
    height: auto;
    padding-right: 10px;
}

/* Harga */
#harga {
    background-color: #6dd3ff;
}

.container-harga h2 {
    color: #000;
}

.container-harga img {
    width: 30%;
    height: auto;
}

.harga-content {
    display: flex;
    align-items: center;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 20px;
    text-align: center;
    width: 30%;
    height: 400px;
    position: relative;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title img {
    width: 30px;
    height: auto;
    margin: 0;
}

.card-title h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #000;
    height: 20%;
}

.card-title p {
    font-family: 'Poppins', sans-serif;
    color: #333;
    font-size: 13px;
    height: 20%;
}

.text-card li {
    font-family: 'Poppins', sans-serif;
    color: #333;
    text-align: left;
    font-size: 15px;
    list-style: none;
    padding: 5px 0;
}

.text-card img {
    width: 20px;
    height: auto;
    margin-right: 5px;
}

.card .price {
    font-weight: 700;
    color: #000;
    margin-top: 10px;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}


/* Tentang Kami */
#tentang-kami {
    background-color: #fff;
}

.container-tentang-kami h2 {
    color: #000;
}

/* Testimoni */
#testimoni {
    background-color: #2277b9;
    width: 100%;
    height: auto;
}

.container-testimoni {
    display: flex;
    flex-direction: column;
}

.testimoni-title h3 {
    font-weight: 600;
    text-align: center;
    color: #fff;
    margin-bottom: 30px ;
}

/* Footer */
.container-footer {
    background-color: #fff;
    width: 100%;
    height: 40vh;
}

/* Popup Whatsapp */
#whatsapp-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

#whatsapp-popup a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

#whatsapp-popup img {
    width: 25px;
    margin-right: 10px;
}

#whatsapp-popup span {
    font-weight: 500;
    font-size: 15px;
}