.container-menu h2 {
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    color: #333;
}

.container-menu p {
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    color: #333;
}

.option-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option-menu img {
    width: 50px;
    height: auto;
}

.btn-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    color: #333;
    background-color: #ffff;
    border: 2px solid #ffff;
    border-radius: 16px;
    color: #333;
    box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, border-color 0.3s;
    padding: 8px 20px;
    width: 28%;
    margin-bottom: 20px;
    cursor: pointer;
}

.btn-menu:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #b8e7fb;
    border-color: #b8e7fb;
    color: #333;
}

@media (max-width: 767.98px) {
    .container-menu h2 {
        font-size: 30px;
    }

    .container-menu p {
        font-size: 20px;
    }
    
    .btn-menu {
        width: 80%;
    }
}